{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "9.4",
          "uglify": true
        }
      }
    ],
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  },
  "plugins": ["transform-object-rest-spread"]
}
